@media screen and (max-width: 991px) {
  .doctor-v2 {
    margin: 4vw 0;
    box-sizing: border-box;
    padding: 0 5.33vw;

    .doctor-administrative-office {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: center;
      padding: 0 2.665vw;

      .office-btn {
        color: var(--Grey-Mid, #666);
        text-align: center;
        font-family: "Noto Sans HK";
        font-size: 4.265vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.4265vw;
        box-sizing: border-box;
        padding: 2.133vw 2.4vw;
        border-top: 1px solid var(--Grey-Light, #E6E6E6);
        border-right: 1px solid var(--Grey-Light, #E6E6E6);
      }

      .office-btn:first-child {
        border-radius: 1.33vw 0px 0px 0px;
        border-left: 1px solid var(--Grey-Light, #E6E6E6);
      }

      .office-btn:nth-child(4) {
        border-radius: 0px 1.33vw 0px 0px;
      }

      .office-btn:nth-child(5),
      .office-btn:nth-child(6),
      .office-btn:nth-child(7) {
        border-bottom: 1px solid var(--Grey-Light, #E6E6E6);
      }

      .office-btn:nth-child(5) {
        border-radius: 0px 0px 0px 1.33vw;
        border-left: 1px solid var(--Grey-Light, #E6E6E6);
      }

      .office-btn:nth-child(7) {
        border-radius: 0px 0px 1.33vw 0px;
      }

      .office-btn-active {
        color: #fff;
        background: var(--Theme-Color, #fc1682);
        border-top: 1px solid var(--Theme-Color, #fc1682);
      }
    }



    .doctor-team {
      margin-top: 4vw;
      display: flex;
      gap: 0 2.665vw;
      border-radius: 2.665vw;
      align-items: flex-start;
      padding-bottom: 13.33vw;
      justify-content: center;

      .doctor-list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 28vw;
          height: 35.733vw;
          transition: all 0.3s ease;
          &>img {
            border-radius: 1.33vw;
            box-shadow: 0px 1.065vw 1.065vw 0px rgba(77, 77, 77, 0.20);
          }
        }

        .name {
          position: absolute;
          bottom: 0;
          display: flex;
          left: 1.33vw;
          align-items: flex-end;
          gap: 0;

          &>.name-t {
            color: var(--White, #FFF);
            text-align: center;
            text-shadow: 0px 0.533vw 0.533vw #D2337D;
            font-family: "Noto Sans HK";
            font-size: 5.33vw;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
          }

          &>.name-b {
            color: var(--White, #FFF);
            text-align: center;
            font-family: "Noto Sans HK";
            font-size: 3.733vw;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            padding-bottom: 0;
          }
        }

        .title {
          height: 10.665vw;
          position: absolute;
          bottom: -12vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          color: var(--Grey-Dark, #333);
          text-align: center;
          font-family: "Noto Sans HK";
          font-size: 3.733vw;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0.7px;
        }
      }
    }
  }
}