:root {
  /* color */

  --Grey-Dark: #333;
  --New-Theme-Color: #f8298a;
  --Brand-Color: #f8298a;
  ---Green: #01a853;
  --GHV-Green: #01a853;
  --Brand-Blue: #005bab;
  --Grand-Light-Blue: #6096c5;
  --Grand-Orange: #df7000;
  --Grand-Gold: #dea742;
  --Grand-Grey: #e8e0d5;
  --Grey-Pale: #aaa;
  --Grey-Deep: #4d4d4d;
  --Grand-Turquoise: #2ea6a6;
  --Grand-Navy: #13576e;
  --bs-primary-rgb: 0, 91, 171;
  /* button */
  --bs-btn-bg: #dea742;
  --bs-btn-border-color: #005bab;
  --bs-btn-hover-bg: #dea742;
  /* swiper */
  --swiper-pagination-bullet-width: clamp(8px, 2.93vw, 11px);
  --swiper-pagination-bullet-height: clamp(8px, 2.93vw, 11px);
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #d2337d;

  /* navbar */
  --theme-box-shadow: 0px 3px 3px rgba(166, 192, 245, 0.25);
}

.swiper-pagination-bullet {
  opacity: 1;
}
.hidefalse {
  display: none !important;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  font-family: 'Noto Sans HK';
}
li {
  list-style: none;
}
a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
img
 {
  width: 100%;
  vertical-align: middle;
}
svg{
  width:auto;
}
a:hover {
  text-decoration: none;
}
.btn {
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
}
.btn:hover {
  background-color: inherit;
}

p,
dl,
dt,
dd,
ul {
  margin: 0px;
  padding: 0px;
}
input {
  border: none;
  outline: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-family: 'Noto Sans HK';
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.text-justify {
  text-align: justify;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
}

@media screen and (max-width: 992px) {
  .px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* 字体粗细 */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.lh-1 {
  line-height: 1;
}
.lh-2 {
  line-height: 2;
}
.lh-3 {
  line-height: 3;
}
.lh-4 {
  line-height: 4;
}
.fs-12 {
  font-size: 0.857rem;
}
.fs-14 {
  font-size: 1rem;
}
.fs-16 {
  font-size: 1.142rem;
}
.fs-18 {
  font-size: 1.285rem;
}
.fs-20 {
  font-size: 1.428rem;
}
.fs-22 {
  font-size: 1.571rem;
}
.fs-24 {
  font-size: 1.714rem;
}
.fs-26 {
  font-size: 1.857rem;
}
.fs-28 {
  font-size: 2rem;
}
.fs-30 {
  font-size: 2.142rem;
}
.mt-6,
.my-6 {
  margin-top: 4rem !important;
}
.mt-7,
.my-7 {
  margin-top: 5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 6rem !important;
}
.mt-9,
.my-9 {
  margin-top: 7rem !important;
}
.mt-10,
.my-10 {
  margin-top: 8rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 6rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 7rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 8rem !important;
}
.pt-6,
.mp-6 {
  padding-top: 4rem !important;
}
.pt-7,
.py-7 {
  padding-top: 5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 6rem !important;
}
.pt-9,
.py-9 {
  padding-top: 7rem !important;
}
.pt-10,
.py-10 {
  padding-top: 8rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 6rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 7rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 8rem !important;
}
.h-5px {
  height: 5px;
}
.h-10px {
  height: 10px;
}
.h-15px {
  height: 15px;
}
.h-20px {
  height: 20px;
}
.h-25px {
  height: 25px;
}
.h-30px {
  height: 30px;
}
.h-35px {
  height: 35px;
}
.h-40px {
  height: 40px;
}
.h-45px {
  height: 45px;
}
.h-50px {
  height: 50px;
}
.h-55px {
  height: 55px;
}
.h-60px {
  height: 60px;
}
.h-65px {
  height: 65px;
}
.h-70px {
  height: 70px;
}
.h-75px {
  height: 75px;
}
.h-80px {
  height: 80px;
}
.h-85px {
  height: 85px;
}
.h-90px {
  height: 90px;
}
.h-95px {
  height: 95px;
}
.h-100px {
  height: 100px;
}
.h-110px {
  height: 110px;
}
.h-120px {
  height: 120px;
}
.h-130px {
  height: 130px;
}
.h-140px {
  height: 140px;
}
.h-150px {
  height: 150px;
}
.h-160px {
  height: 160px;
}
.h-170px {
  height: 170px;
}
.h-180px {
  height: 180px;
}
.h-190px {
  height: 190px;
}
.h-200px {
  height: 200px;
}
.h-250px {
  height: 250px;
}
.h-300px {
  height: 300px;
}
.h-350px {
  height: 350px;
}
.h-400px {
  height: 400px;
}
.h-450px {
  height: 450px;
}
.h-500px {
  height: 500px;
}
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-3 {
  letter-spacing: 3px;
}
.ls-4 {
  letter-spacing: 4px;
}
.ls-5 {
  letter-spacing: 5px;
}
.text-secondary a {
  color: #6c757d;
}
.code,
.code img {
  height: 100px;
}
.pages {
  min-height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.position,
.position a {
  color: #999;
}
.page-num:not(:disabled) {
  cursor: pointer;
}
.page-num,
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #17a2b8;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
a.page-num:hover,
.page-link:hover {
  text-decoration: none;
}
.page-num-current {
  z-index: 1;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.page-num-current:hover {
  color: #fff;
}

.online {
  position: fixed;
  bottom: 150px;
  right: 10px;
  width: 60px;
  z-index: 999;
  color: #999;
}
.online a {
  color: #666;
}
.online a:hover {
  text-decoration: none;
}
.online dl {
  background: #27a8e1;
  padding: 10px 5px;
  margin-bottom: 1px;
  position: relative;
}
.online dl dd {
  color: #fff;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.online dl dd i {
  font-size: 25px;
}
.online dl:hover {
  background: #1781bd;
}
.online dl dt {
  position: absolute;
  top: 0px;
  right: 60px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
  display: none;
  padding: 10px 15px;
  font-weight: normal;
}
.online dl dt h3 {
  display: block;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.online dl dt h3 i {
  margin-right: 5px;
}
.online dl dt h3 span {
  float: right;
  cursor: pointer;
}
.online dl dt input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  padding: 3px 5px;
  width: 100%;
}
.online dl dt button {
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  background: #28a7e1;
  color: #fff;
  cursor: pointer;
}
pre {
  font: 0.875rem/1.5 Consolas, monaco, monospace;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  padding: 10px;
  border-radius: 3px;
  background: #171a27;
  border: none;
  color: #fff;
}

/* 表单 */
.Appointment-form
  .custom-phone-input
  input:focus
  .Appointment-form
  .custom-phone-input:focus-within,
.Appointment-form
  .custom-phone-input
  select:focus
  .Appointment-form
  .custom-phone-input:focus-within {
  outline: none !important;
  box-shadow: none !important;
}
.Appointment-form .custom-phone-input select,
.Appointment-form .custom-phone-input input {
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.form-control:invalid:focus {
  outline: none !important;
  box-shadow: none !important;
}
select:focus-visible {
  outline: none !important;
}
.Appointment-form .custom-phone-input:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

/* 隐藏 WebKit 浏览器（如 Chrome 和 Safari）中的图标 */
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}
/* Firefox */
input[type='date']::-moz-calendar-picker-indicator {
  display: none;
}
input[type='date']::before {
  content: '請選擇';
  position: absolute;
  left: 8px;
  bottom: 2px;
  /* transform: translateY(-50%); */
  color: #53585f;
}
input[type='date'] {
  text-align: right;
}

@-moz-document url-prefix() {
  input[type='date'] {
    text-align: left;
  }
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}
input[type='date']:focus,
input[type='date']:valid {
  text-align: left;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #d2337d;
}
.ckj-contrain {
  max-width: 960px;
}
/* media */
@media (min-width: 959px) {
  .container-lg,
  .container-xl,
  .container-xxl,
  .container {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }

  input[type='date']::before {
    left: 20px;
  }
}
